@import "tailwindcss";


body{

   /*background: linear-gradient(135deg, #d4fc79, #96e6a1); */
  overflow-x: hidden;
font-family: "poppins" , sans-serif;
background: radial-gradient(circle at 50% 50%, #1a1a2e, #0f0f1b);
text-decoration: wavy;
color: white;
}
h1,h2,h3{

font-family: "Roboto" ,sans-serif;


}

